input[type=radio] {
    display: none;
}

.carousel_video {
    max-width: 100%;
    height: 400px!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}




.video-info{
    color: white;
    background-color: #433451;
    height: 100%;
    width: 30%;
    display: block;
    border-radius: 0 10px 10px 0 ;

}
.video-image{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card {
    position: absolute;
    width: 60%;
    height: 90%;
    transition: transform .4s ease;
    cursor: pointer;
    display: flex;
    border-radius: 10px;

    box-shadow: 12px 10px 13px 0px rgba(34, 60, 80, 0.2);

}
.video{
    width: 70%;
}

.image-preview{
    left: 0;
    top: 0;
    width: 70%;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;

}
.image-preview i{
    color: white;
}
.video:hover .video-image{
    opacity: 0.9;
}

.video:hover .image-preview{
    opacity: 1;
}

#item-1:checked ~ .cards #video-3, #item-2:checked ~ .cards #video-1, #item-3:checked ~ .cards #video-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #video-2, #item-2:checked ~ .cards #video-3, #item-3:checked ~ .cards #video-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #video-1, #item-2:checked ~ .cards #video-2, #item-3:checked ~ .cards #video-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;


}

.user-info{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 15px;
}

.user-info > .user-ico{
    width: 50px;
    border-radius: 50%;
}
.user-info h5{

    font-size: 1.5em;
    font-weight: bold;
    max-width: 100%;
    max-height: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}



.user-info p{
    color: #999999;

}

.user-info h5:hover,.user-info p:hover{
    color: #f97343;

}



.description{

    margin-top: 20px;
    margin-left: 20px;
    font-size: 1em;
}
