.content-box{
    margin-top: 90px;
    margin-left: 215px;
    float: left;
    width: calc(100% - 215px);
    height: 100%;
}

section {
    display: flex;
    align-items: center;
    height: 42px;
    max-width: 100%;
    order: 1;
    flex: 0 1 100%;
    overflow: hidden;
}


section div{
    width: auto;
    white-space:nowrap;
    overflow-x: scroll;
}

section div::-webkit-scrollbar {
    display: none;
}

.type{
    background-color: #433451;
    color: #e5cbb0;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;
    height: 40px;
    border: 0;
}
section div .type:hover{
    background-color: #684e80;

}

main {
    height: auto;

    order: 2;
    flex: 0 1 100%;
    margin-top: 15px;
    width: 100%;

}


@media screen and  (max-width: 1200px){
    .content-box{
        margin-left: 65px;
        width: calc(100% - 65px);
    }

    .user-info h5{
        font-size: 1.2em!important;
    }

}


@media screen and  (max-width: 910px){

    .video-info{
        display: none !important;
    }

    .video{
        width: 100%!important;
    }

    .video img{
        border-radius: 10px 10px 10px 10px!important;
    }

    .image-preview{
        width: 100%!important;
        border-radius: 10px 10px 10px 10px!important;
    }


}

