footer{
    margin-top: 100px;
    bottom: 0;

    background-color: #ffffff;

    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

footer i {
    margin-top: 3px;
    margin-left: 10px;
}
