header{
    background:white;
    height: 75px;
    max-height: 75px !important;
    padding: 0;
    margin: 0 ;
    position: fixed;
    min-width: 100%;
    display: table;
    box-shadow: 0px 10px 13px 0px rgba(34, 60, 80, 0.2);

}

.container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}

.logo h5{
    color: #f97343;
    font-size: 2em;
}

.logo i{
    color: #f97343;
    padding-right: 15px;
}

.search{
    display: flex;
    justify-content: center;
    width: 70%;

}

.search label{
    display: flex;
    justify-content: center;
    width: 100%;

}

.search_input{
    height: 30px;
    border-radius: 5px 0 0  5px ;
    border: 1px solid #e6e6e6;
    border-right:0;
    width: 60%;

}

.search_input:focus{
    border: 1px solid #f97343;

}
header .btn_search{
    left: 0;
    background-color: #ececec;
    border: 1px solid #e6e6e6;
    border-radius: 0 5px 5px 0 ;
    height: 34px;
    width: 50px;
    margin-right: 15px;
    transition-duration: 0.6s;

}
header .btn_search:hover{
    background-color: #433451;
    color: white;
}
.search .microphone{
    height: 34px;
    background-color: #ffffff;
    border: 0;
    color: #c1c1c1;
    transition-duration: 0.4s;
}

.search .microphone:hover{
    color: #433451;
}


.menu{
    display: flex;
    margin: 0;
    list-style: none;

}

.menu a{
    display: block;

    text-decoration: none;
}

.notification > a{
    display: flex;

    background-color: white;
    align-items: center;
    justify-content: center;

    border: 0;
    color: #c1c1c1;
    width: 35px;
    height: 35px;

    transition-duration: 0.4s;

}

.notification a:hover{
    color: #433451;
}
.profile > a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f97343;
    border-radius: 50%;
    color: black;
    width: 35px;
    height: 35px;

    transition-duration: 0.4s;
}

.profile:hover .dropdown-nav {

    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

.profile a:hover {
    background-color: #433451;
    color: white;
}

.dropdown-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    right: 40px;
    opacity: 0;
    transition: transform .3s cubic-bezier(0.88,-0.72, 0, 1), opacity .3s ease-in-out;
    transform: translateY(-10rem);
    list-style: none;
    z-index: 1;
    background: white;
    border-radius: 5px;

}

.dropdown-nav > li{
    width: 120px;
    font-size: 19px;
    height: 25px;
    border: 1px solid #e6e6e6;
    text-decoration: none;

}

.dropdown-nav > li > a{
    display: flex;
    justify-content: left;
    padding-left: 10px;
    padding-top: 4px;
    color: #000000;
}
.dropdown-nav > li > a>i{
    padding-right: 15px;
}
.dropdown-nav > .log-out > a{
    color: #ff0000;
}
.dropdown-nav > li:hover{
    background-color: #e6e6e6;
}
