.sidebar{
    width: 200px;
    height: calc(100% - 200px);
    /* 	border: 3px #000 solid; */
    float: left;
    position: fixed;
    margin: 75px 0 0 0;
    padding: 0 0 0 0;
    z-index: 1;

}

.users{
    margin: 0;
    padding: 0;

    background-color: #433451;
    height: 100%;
    overflow-y: auto;

}



.user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}

li a h5{
    max-width: 80px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.sidebar > ul > li > a > img{
    width: 40px;
    height: 40px ;
    border-radius: 50%;
}

.sidebar > ul > li{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;


}

.sidebar > ul > li:hover{
    background-color: #6c5885;
}
.sidebar > ul > li > a{
    display: flex;
    color: white;
    text-decoration: none;
}

.user-ico{
    margin-right: 15px;
}

.user-status{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50%{
        transform: scale3d(1.3, 1.3, 1.3);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.user-status i{
    padding-right: 5px;
    color: 	#e01b52;


}

.animation{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: pulse;
}


.add-info{

    width: 200px;
    height: 120px;
    position: fixed;
    bottom: 0;
    background-color: #433451;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.add-info-inner{
    width: 80%;
    height: 80%;
    background-color: #5a466d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add-info-inner p{
    color: white;
    text-align: center;
}

.add-info-inner p::selection{
    color: #5a466d;
    background-color: white;
}
.add-info-inner div{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
}
.add-info-inner div > a{
    text-decoration: none;
    color: white;
}

.fa-instagram:hover{
    color: #e79230;
}
.fa-telegram:hover{
    color: cornflowerblue;
}
.fa-facebook:hover{
    color: #004aff;
}


@media screen and  (max-width: 1200px){
    .sidebar{
        width: 50px;
        height: 100%;
        overflow: hidden;

    }
    .sidebar > ul > li > a{
        margin-left: 5px;
    }
    .sidebar > ul > li > a > h5{
        display: none;

    }
    .sidebar > ul > li > .user-status{
        display: none;
    }

    .users{
        overflow: hidden;

    }

    .add-info{
        display: none!important;
    }
    .add-info-inner{
        display: none;
    }
    .user-ico{
        margin-right: 0!important;

    }
}
